[submodule "services/product-service"]
	path = services/product-service
	url = https://gitlab.com/vrj022/product-service.git
[submodule "services/user-service"]
	path = services/user-service
	url = https://gitlab.com/vrj022/user-service.git
[submodule "services/order-service"]
	path = services/order-service
	url = https://gitlab.com/vrj022/order-service.git
[submodule "services/cart-service"]
	path = services/cart-service
	url = https://gitlab.com/vrj022/cart-service.git
[submodule "services/payment-service"]
	path = services/payment-service
	url = https://gitlab.com/vrj022/payment-service.git
[submodule "services/notification-service"]
	path = services/notification-service
	url = https://gitlab.com/vrj022/notification-service.git
